<form action="/answer">
  <label class="box" for="question">Ask your coach anything:</label><br>
  <input class="text-field" type="text" name="question" id="question">
  <input class="ask-button" type="submit" value="Ask!">
</form>